
            *, ::before, ::after
            {
                box-sizing: border box;
            }
            body 
            { 
                position:relative;
                margin: 0;
                overflow:hidden;
                display: flex;
                height:100vh;
                flex-direction:column;
                line-height: 1.5; 
                font-size: 71.5%;
                color:#f4f4f4; 
                background-color: #1d1e22;
                font-family: 'Playball', cursive;
            }

           .scrolls{
               position: relative;
               top:50%;
               transform: translateY(-50%);
               right: 1.25 em;
               z-index: 2;
               display: flex;
               flex-direction: column;
               align-content: center;
               justify-content: center;
               text-align: center;
               font-size: 2rem ;
               color:#f4f4f4;

           } 

           .scrolls .center{
               font-size: 0.825rem;
           }
            
           .smooth{
               position: relative;
               width: 100%;
               height: 100%;
               scroll-behavior: smooth;
               overflow-y: scroll;
               scroll-snap-type: mandatory;
               scroll-snap-points-y: repeat(100vh);
               scroll-snap-type: y mandatory;
           }

           .header{
               position: fixed;
               top: 0;
               z-index: 1;
               display: flex;
               width: 100%;
               min-height: 59px;
               font-size: 1rem;
               background-image: linear-gradient(180deg,#1d1e22, rgba(29,30,34,0.1),transparent);
               mix-blend-mode: luminosity ;
           }

           .header ul{
               margin: 0;
               padding: 0;
               list-style: none;
               display: flex;
               width: 100%;
               justify-content: center;
           }

           .header ul li{
               margin: 0 1em;
               padding: 1em;
           }

           .header ul li a{
               position: relative;
               text-decoration: none;
               text-transform: uppercase;
               font-weight: 599;
               color: #f4f4f4;    
           }

           .header ul li a::after{
               position: absolute ;
               bottom: -3px;
               left: 0;
               content: '';
               width: 0;
               height: 3px;
               transition: all 0.2s linear;
           }

           .header ul li a:hover::after{
               width: 100%;
               background-color: #f4f4f4 ;
           }

           section{
               position: relative;
               display: flex;
               width: 100%;
               min-height: 100vh;
               flex-grow: column wrap;
               align-items: center;
               justify-content: center;
               font-size: 1rem;
               background-size: cover;
               scroll-snap-align : center;
           } 
            section h2{
                text-transform: uppercase;
                font-size: 1.5em;
                font-weight: 900;
                padding: 10px 21px;
                color: #1d1e22;
                background-color: #f4f4f4;
                mix-blend-mode: screen;
                pointer-events: none;
                user-select: none;
                font-family: 'Playball', cursive;
            }
            .hi{
                margin-left: 680px;
                font-size: 1.5em;
                font-family: 'Playball', cursive;

            }     
            
            .hi h1 {
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid #f4f4f4; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .15em; /* Adjust as needed */
                animation: 
                    typing 3.5s steps(40, end),
                    blink-caret .75s step-end infinite;
            }

                /* The typing effect */
            @keyframes typing {
                from { width: 0 }
                to { width: 100% }
            }

                /* The typewriter cursor effect */
            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: #f4f4f4; }
            } 
            .ab{

                margin-left:400px;
                margin-right: 400px;
                font-size:1.5em;
            }   
        
        .gallery{
            margin:10px 50px;
            align-items: center;
        }      

        .gallery img{
            width: 430px;
            height:220px;
            padding: 5px;
            filter: grayscale(100%);
            transition: 1s;
        }

        .gallery img:hover{
            filter: grayscale(0);
            transform: scale(1.05) ;

        }
            
            #hero{

                background-image: url(images/aashna.png);
            }
            #about{
                background-image: url(images/background.png);
            }
            #portfolio{
                background-image: url(images/background.png);
            }
            #contact{
                background-image: url(images/background.png);
            }
            #insta{
                color: white;
                font-size: 2em;

            }
            #contact img{
                height: 80px;
                width: 80px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
                    
      